.opinion {
    background-color: $mainColor;
    color: $text-color;
    padding: 10em 0 20em 0;

    &__quote {
        position: absolute;
        top: -35px;
        left: -10px;
        z-index: 1;
    }

    &__content {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        justify-items: center;
        column-gap: 40px;
        position: relative;
    }

    &__box {
        min-height: 12.5em;
        background: $opinionBox;
        width: 100%;
        border-radius: 5px;
        padding: 2em;
        font-size: 0.8rem;
        z-index: 5;
        box-shadow: $box-shadow;

        &--user {
            padding-top: 1em;
            display: flex;

            img {
                width: 2.5em;
                height: 2.5em;
                border-radius: 50%;
            }

            div {
                padding-left: 1em;
            }

            p {
                font-size: 0.7rem;
            }
        }
    }
}
